@use "../../assets/scss/"as *;


.container {
    padding: 20px 35px;
    margin: auto;
    width: 100%;

    &_movie {
        display: flex;
        flex-direction: column;
        padding: 20px 35px;
        margin: auto;
        width: 100%;
        gap: 5px;
    }
}

.card_list_movie {
    display: flex;
    flex-direction: column;

    .judul_view_more {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: -18px;
        align-items: center;

        .judul {
            font-size: 16px;
            font-weight: 500;
        }
    }
}