@use "../../assets/scss/"as *;

.movie-list {
    .swiper-slide {
        width: 15%;
    }
}

.text_video {
    font-size: 18px;
    font-weight: 600;

    @include smartphones {
        font-size: 14px;
    }

    @include ipads {
        font-size: 14px;
    }

    @include laptop {
        font-size: 16px;
    }
}